<div class="hero">
    <div class="hero-container">
        <h1 class="title">Contact us</h1>
        <form action="">
            <input type="fullname" placeholder="Full name">
            <input type="email" placeholder="E-mail">
            <input type="message" placeholder="Message">
            <textarea type="message" placeholder="Write something"></textarea>
            <button type="submit">Send message</button>
        </form>
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error delectus quia odit deserunt mollitia praesentium maiores, quo perspiciatis quod necessitatibus, nemo deleniti, dolor ex facilis unde beatae accusantium possimus repellat.
            </p>
        </div>
    </div>
</div>